
<style>
  *{
    background-color: #89bac9;
    margin: 30px;
    border: #ffffff 1px solid;
    border-radius: 15px;
  }
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .toolbar{
    text-align: center;
    margin: 20px;
    padding: 10px;
    align-items: center;
    background-color: #1d4642;
    border: 3px solid #156c62;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
  }
  .content {
    border: none;
    display: grid;
    grid-template-rows: 60px 60px 40px 40px;
    row-gap: 5px;
    margin: 40px;
    padding: 50px;
    flex-direction: column;
    align-items: center;
  }
  a:hover {
    color: #1D4642FF;
  }
</style>

<tui-root>
  <form [formGroup]="form">
    <div class="toolbar">
      Welcome to Bitrix24 and Bizon365 integration
    </div>

    <div class="content" style="margin-right: 40px">
      <tui-input formControlName="email">Type an email</tui-input>
      <tui-input formControlName="token"> Type Api-token</tui-input>
      <p> <a tuiLink href="https://www.youtube.com/watch?v=4Q9-v2L4h3U&ab_channel=Vakas-tools" icon="tuiIconSettings">Где взять Api-token</a></p>
        <button tuiButton [disabled]="form.invalid">Submit</button>
    </div>
  </form>

</tui-root>
